.monetizeme-block-top {
	width: 100%;
	z-index: 999;
	transition: all 0.5s;
	top: 0;
	max-height: 100px;
	bottom: auto;
	position: fixed;
	display: flex;
	justify-content: center;
	transform: translateY(0px);
	background: #fff;
	
}

.monetizeme-block-top.collapsed {
	transform: translateY(-250px)
}

.button-top-close {
	position: absolute;
	top: auto !important;
	z-index: 99999999;
    bottom: -55px;
	left: 0;
	width: 100px;
	height: 100px;
}

.mm_button_top{
	height: 25px !important;
	position: absolute;
    width: 44px;
    left: 0px;
    border: none;
    background-size: 13px 13px;
    background-position: 9px;
    background-color: #fff;
    background-repeat: no-repeat;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%) !important;
    color: #777;
    top: auto !important;
    bottom: -30px;
    border-radius: 0 0 10px 0 !important;
    font-size: 17px;
    font-family: verdana;

}
.monetizeme-block-bottom {
	width: 100%;
	z-index: 999;
	transition: all 0.5s;
	bottom: 0;
	max-height: 30vh;
	top: auto;
	position: fixed;
	display: flex;
	justify-content: center;
	transform: translateY(0px);
	background: #fff;
	
}

.monetizeme-block-bottom.collapsed {
	transform: translateY(500px)
}

.button-bottom-close {
	position: absolute;
	bottom:  auto !important;
	z-index: 99999999;
    top: -55px;
	left: 0;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.mm_button_bottom{
	transform: rotate(180deg);
	height: 25px !important;
	position: absolute;
    width: 44px;
    left: 0px;
    border: none;
    background-size: 13px 13px;
    background-position: 9px;
    background-color: #fff;
    background-repeat: no-repeat;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%) !important;
    color: #777;
    bottom:  auto !important;
    top: -30px;
    border-radius: 0 0 0 10px !important;
    font-size: 17px;
    font-family: verdana;

}
.mm_mobile_content{
	background: #fbfbfb;
	border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
	position: inherit;
	padding: 20px 0 !important;
	margin: auto !important;
	width: 100% !important;
	max-height: 600px !important;
	display: grid !important;
	justify-content: center !important;
	box-sizing: border-box;
}
.monetizeme-desktop-sticky-bottom{
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 9999998;
	position: fixed;
	bottom: 0px;
	background: transparent;
	text-align: center;
	transition: 300ms ease-in;
	line-height: 0px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2) !important;
	background-color: #F0F4F8;
}
.mm_button_bottom-desktop{
	transform: rotate(90deg);
	height: 25px !important;
	position: absolute;
    width: 44px;
    left: -34px;
    border: none;
    background-size: 13px 13px;
    background-position: 9px;
    background-color: #fff;
    background-repeat: no-repeat;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%) !important;
    color: #777;
    bottom:  auto !important;
    top: 5px;
    border-radius: 0 0 10px 10px !important;
    font-size: 17px;
    font-family: verdana;
}
.mm_desktop_side_content{
	padding: 0px 0 !important;
	margin: auto !important;
	width: 100% !important;
	display: grid !important;
	justify-content: center !important;
	box-sizing: border-box;
}
.button-bottom-close-desktop {
    position: absolute;
    bottom: auto !important;
    z-index: 99999999;
    top: -20px;
    left: -30px;
    width: 60px;
    height: 80px;
    cursor: pointer;
}
.mm_desktop_content{
	background: #fbfbfb;
	border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
	padding: 20px 0 !important;
	margin: 20px 0 !important;
	width: 100% !important;
	max-height: 480px !important;
	display: grid !important;
	justify-content: center !important;
	box-sizing: border-box;
}
.adfox_inread_desktop{
	max-width: 620px;
	max-height: 480px
}
