.page-main-column {
  background-color: #fff;
  padding-bottom: 0;
}
.comments   {
  max-width: 800px;
}

.post-full  {
  padding-top: 40px;
  max-width: 760px;
  box-shadow: none;
}
.post-full  .post-heading {
  margin-bottom: 16px;
}
.post-full .post-metadata {
  display: flex;
  align-items: center;
  color: #4a4a4a;
  line-height: 1.2;
  font-size: 1.1rem;
}
.post-full .post-metadata a {
  color: #4a4a4a
}
.post-full  .post-metadata .avatar {
  opacity: 1;
  margin: 0 10px 0 0;
}
.post-full .post-metadata .author {
  font-size: 1.2rem;
}
.post-full .post-metadata time {
  margin-right: 5px;
}
.post-copyright{
  font-size: 2rem;
  color: var(--main-color);
  font-weight: normal;
  top: -1.3rem;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  cursor: help;
  display: inline;
  line-height: normal;
}
pg-embed {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
pg-embed iframe {
  display: block;
  max-height: 640px;
  margin-left: auto;
  margin-right: auto;
}
pg-embed[type="twitter"] iframe {
  max-height: none;
}

.post-flow-container pg-embed {
  margin: 0;
}
pg-embed[type="playground"],
pg-embed[type="youtube"],
pg-embed[type="vk"],
pg-embed[type="twitch_video"],
pg-embed[type="twitch_channel"],
pg-embed[type="gfycat"]{
  position: relative;
  padding-bottom: 56.25%;
  z-index: 2;
  display: block;
}
pg-embed[type="playground"] iframe,
pg-embed[type="youtube"] iframe,
pg-embed[type="vk"] iframe,
pg-embed[type="twitch_video"] iframe,
pg-embed[type="twitch_channel"] iframe,
pg-embed[type="gfycat"] iframe{
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}
/*.article-content pg-embed[type="playground"],
.article-content pg-embed[type="youtube"],
.article-content pg-embed[type="vk"],
.article-content pg-embed[type="twitch_video"],
.article-content pg-embed[type="twitch_channel"]{
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 59.25%;
}*/

pg-embed[type="steam"] iframe {
  min-width: 646px;
  min-height: 190px;
}
pg-embed[type="coub"] iframe {
  min-width: 640px;
  min-height: 360px;
}
pg-embed[type="giphy"] iframe {
  min-width: 400px;
  min-height: 400px;
}
twitter-widget,
pg-embed[type="twitter"] iframe,
pg-embed[type="instagram"] iframe,
.twitter-tweet {
  margin-left: auto !important;
  margin-right: auto !important;
}
.pg-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -3px;
  align-items: center;
  justify-content: center;
}
.pg-gallery .pg-gallery-item {
  margin: 3px;
  flex-basis: calc(33.333% - 6px);
  position: relative;
}
.pg-gallery-item-more a {
  position: relative;
  display: block;
  color: #fff;
}
.pg-gallery-item-more div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font: bold 1.4rem "Roboto Condensed", Arial, Helvetica, sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
}
.pg-gallery .pg-gallery-item img {
  height: auto;
}
.fancybox-thumbs__list a {
  height: 100px !important;
}
.pg-gallery .pg-gallery-item a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35056029247636555) 54%, rgba(0,0,0,0.9556023092830882) 100%);
}
.pg-gallery .pg-gallery-item a:hover::before {
  content: none;
}

.article-content .pg-gallery figure{
  margin: 0;
}
pg-hide {
  margin: 25px 0;
  display: block;
}
.article-content pg-file + figure,
.article-content pg-file + p {
  margin-top: 20px;
}
.article-content .pg-hide-body > * {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.article-content figcaption {
  width: 100%;
  padding: 0 40px;
  color: #999;
  font: normal italic 1.4rem/1.2 Arial, sans-serif !important;
  text-align: center;
  display: block;
  margin-top: 5px;
  border: none;
  cursor: default;
}

.article-content {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  word-break: break-word;
}
.article-content pre span,
.article-content pre {
  white-space: pre-wrap
}
.article-content h2,
.article-content h3 {
  font-family: "Roboto Condensed", "Arial Narrow", Arial, sans-serif;
  clear: left;
  font-weight: normal;
  color: #444;
  padding: 0;
  line-height: 1;
  margin: 25px 0;
}
.article-content h2 {
  font-size: 3rem;
}
.article-content h3 {
  font-size: 2.6rem;
}
.article-content h4 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 25px;
}
.article-content h2 strong, .article-content h3 strong {
  font-weight: normal;
}
.article-content blockquote {
  background: #f7f7f7;
  font-size: 1.6rem;
  font-weight: normal;
  padding: 30px 40px 30px 60px;
  line-height: 1.5;
  margin: 25px 0;
  font-style: normal;
  position: relative;
  border: none;
  border-radius: 5px;
}
.article-content blockquote:before {
  position: absolute;
  left: 20px;
  top: 70px;
  content: "\201C";
  font-size: 8rem;
  margin: -20px 0 0 0;
  color: #ccc;
  line-height: 25px;
}
.article-content blockquote:after {
  position: absolute;
  right: 20px;
  bottom: 0;
  content: "\201D";
  font-size: 8rem;
  color: #ccc;
  line-height: 25px;
}
.article-content blockquote p {
  margin: 15px 0;
}

.article-content .article-summary {
  font-style: italic;
  color: #111;
  font-size: 1.7rem;
  font-weight: normal;
  margin: 25px 0;
  line-height: 1.4;
}
.article-content .insetblock {
  overflow: hidden;
  text-align: center;
  font-size: 0;
  margin-bottom: 20px;
}
.article-content .insetblock img {
  display: inline-block;
  width: 145px;
  height: auto;
  margin: 0 4px 7px 0;
}
.article-content .insetblock br {
  display: none;
}
.article-content p {
  margin: 25px 0;
  vertical-align: top;
}
.article-content ul, .article-content ol {
  margin-top: 25px;
  margin-bottom: 25px;
}
.article-content li {
  margin-bottom: 8px;
}
.article-content p span, .article-content li span {
  font-size: inherit !important;
}
.user-content-image {
  vertical-align: top;
}
.article-content .image-wrapper {
  margin: 10px auto 25px;
  font: normal 2rem/1 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.article-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.article-content object {
  max-width: 100%;
}
.article-content.publication-content img {
  height: auto;
  border: none;
}
.article-content p + h2,
.article-content pg-embed + h2 {
  margin-top: 50px;
}
.article-content p + h3 {
  margin-top: 40px;
}
.article-content p + h4, .article-content p + h5 {
  margin-top: 30px;
}
.article-content img + img {
  margin-top: 10px;
}
.user-content-image + .user-content-image, .user-content-image + img {
  margin-top: 10px;
  display: inline-block;
}
.article-content figure {
  vertical-align: top;
  margin: 20px 0;
  text-align: center;
}
.article-content figure + h2, .article-content figure + h3 {
  margin-top: 40px;
}
.article-content p a[data-game-slug] {
  white-space: nowrap;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}
.article-content p:empty {
  display: none;
}
.youtube-embedding-error a {
  text-decoration: underline;
}
.article-content.publication-content table {
  width: auto;
  border-color: #eee;
}

.article-content.publication-content table td {
  border-color: #eee;
}

.article-content .image-wrapper a {
  display: inline-block;
  position: relative;
  max-width: 100%;
  margin-bottom: 15px;
}

.article-content .float-right {
  margin: 1em 0 1em 1em;
}

.article-content .float-left {
  margin: 1em 1em 1em 0;
}

.article-content-prefooter .header {
  display: flex;
  flex-direction: column;
}
.article-content .pg-separator,
.article-content hr {
  margin: 50px 0;
  position: relative;
  display: block;
  border: none;
  height: 32px;
}

.article-content .pg-separator > :before,
.article-content hr:before {
  content: '***';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -30px;
  font-size: 4rem;
  line-height: 50px;
  color: #444;
}
.article-content a,
.comments-content a,
.gp-game-heading .description a {
  color: #3292e5;
}
.article-content a:hover,
.comments-content a:hover,
.gp-game-heading .description a:hover {
  color: var(--main-color);
}
.article-content .comments-item-author {
  color: #4a4a4a;
}
.article-content .text-muted {
  color: #777;
}
.article-content a strong {
  font-weight: normal;
}
.post-signature {
  padding: 10px 0 0 0;
  margin: 10px 0 0 0;
  border-top: 1px solid #eee;
  color: #919191;
  font-size: 1.2rem;
}
.post-signature .avatar-image {
  border-radius: 100%;
  margin: 0 10px 0 0;
  max-width: none;
}
.post-signature .post-sign-name {
  font-weight: bold;
  font-size: 1.6rem;
}
.post-signature a {
  color: #444
}
.post-signature a:hover {
  color: #b31919
}

.post-sign-name a:hover {
  color: var(--main-color);
}
.post-signature-info {
  display: flex;
  align-items: center;
}

.post-signature-info-header .btn {
  margin: 0 0 0 5px;
  border: none
}
.post-signature-aside {
  width: 100%;
}

.content-rating-area {
  padding-top: 20px;
  border-top: 1px solid #eee;
  margin: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.post-rating-area  .btn-set  {
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-rating-wrapper {
  position: absolute;
  z-index: 2;
  top: 30px;
  bottom: 0;
  right: -70px;
}
.post-rating-wrapper .buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 85px;
}
.post-rating-wrapper .buttons .svg-icon-bg {
  width: 18px;
  height: 18px;
}
.btn.post-control-button {
  margin: 5px 0;
  border-radius: 100%;
  width: 34px;
  height: 34px;
  padding: 0;
}
.ya-share2 {
  margin: 5px 0;
}
.btn.post-control-button:hover,
.btn.post-control-button:hover span {
  color: #111;
  background-color: #bababa;
}
.btn.post-control-button:hover:after {
  border-top-color: #bababa;
}
.post-control-button.comments-btn {
  background-color: #ebebeb;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 5px;
  line-height: 1;
  font-weight: bold;
  min-width: 30px;
  position: relative;
  height: auto;
}
.post-control-button.comments-btn:after {
  position: absolute;
  top: 100%;
  left: 50%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  margin: 0 0 0 -5px;
  border-color: #ebebeb transparent transparent transparent;
}
.post-rating {
  display: flex;
  align-items: center;
  flex-direction: column;
  visibility: visible;
  margin-bottom: 10px;
}
.post-rating .btn {
  background-color: transparent;
  display: inline-flex;
  cursor: pointer;
  border: none;
  box-shadow: none;
  border-radius: 0;
  color: #3e4245;
  padding: 10px;
}
.post-rating .btn:hover {
  background-color: transparent;
}
.post-rating .btn .glyphicon {
  top: 2px
}
.post-rating .btn:active {
  background-color: #eee;
  color: #3e4245 !important;
}
.post-rating .upvote.animate span {
  animation-name: upVote;
  animation-duration: 500ms;
}
.post-rating .downvote.animate span {
  animation-name: downVote;
  animation-duration: 500ms;
}

@keyframes downVote{
  0%{transform:translateZ(0)}
  100%{transform:translate3d(0,200%,0); opacity: 0}
}
@keyframes upVote{
  0%{transform:translateZ(0)}
  100%{transform:translate3d(0,-200%,0); opacity: 0}
}

.post-rating .upvote.active span,
.post-rating .upvote:hover span {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18px' height='18px' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%230AAF15' d='M2.49 10.39L8 5.38A1.524 1.524 0 0 1 9 5a1.474 1.474 0 0 1 1 .38l5.51 5.01a1.5 1.5 0 0 1-2.02 2.22L9 8.53l-4.49 4.08a1.5 1.5 0 0 1-2.02-2.22z'/%3e%3c/svg%3e");
}
.post-rating .downvote.active span,
.post-rating .downvote:hover span {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18px' height='18px' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23cc0000' d='M2.39 6.49a1.5 1.5 0 0 1 2.12-.1L9 10.47l4.49-4.08a1.5 1.5 0 0 1 2.02 2.22L10 13.62A1.474 1.474 0 0 1 9 14a1.523 1.523 0 0 1-1-.38L2.49 8.61a1.5 1.5 0 0 1-.1-2.12z'/%3e%3c/svg%3e ");
}
.post-rating .value {
  font-size: 1.6rem;
  font-weight: bold;
  cursor: default;
  white-space: nowrap;
  padding: 3px 0 0;
  text-align: center;
  display: block;
  width: 100%;
  line-height: 1;
}

.post-categories {
  font: bold 14px/1 "Roboto Condensed", "Arial Narrow", Arial, Helvetica, sans-serif;
}
.post-categories .item {
  margin: 0 5px 5px 0;
  border-radius: 3px;
  padding: 5px 10px;
  color: #555;
  background-color: #eee;
  display: inline-block;
}
.post-categories .item:hover {
  color: #444;
  background-color: #ccc;
}
.article-content .file-download-box + figure,
.article-content .file-download-box + p {
  margin-top: 20px;
}
.file-download-box {
  margin: 20px 0;
  background-color: #f1f1f1;
  color: #888;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  font-size: 1.2rem;
  font-family: "Roboto Condensed", "Arial Narrow", Arial, sans-serif;
}
.file-download-box .glyphicon {
  top: 0
}
.file-download-box-header {
  display: flex;
  border-bottom: 1px solid #d0d0d0;
  padding: 14px 20px;
}
.file-download-box-header .aside {
  margin-left: auto;
  text-align: right;
  padding: 3px 0 0 20px;
}
.file-download-box-header .aside > div {
  white-space: nowrap;
}
.file-download-box-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px 14px;
  position: relative;
}
.file-download-box .progress {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #aaaaaa;
  width: 100%;
  border-radius: 0;
  margin: 0;
  box-shadow: none;
}
.file-download-box .progress.change {
  animation: 60s changeWidth;
}
@keyframes changeWidth {
  0% {width: 0;}
  25% {width: 25%;}
  50% {width: 50%;}
  75% {width: 75%;}
  100% {width: 100%;}
}
.file-download-await-timer {
  display: inline-flex;
  align-items: center;
  font-size: 1.3rem;
  position: relative;
  color: #444;
}
.file-download-await-timer .text {
  margin: 0 4px;
  font-weight: bold;
  white-space: nowrap;
}
.file-download-box .loader-icon {
  font-size: 2rem;
  margin-right: 10px;
  top: 0;
  animation-duration: 2000ms;
}
.file-download-box-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.file-download-box-item:first-child {
  margin-right: 10px;
  text-align: center;
  background-color: #bdbdbd;
  min-width: 60px;
  color: #4c4c4c;
  font-size: 1.2rem;
  border-right: 1px solid #ccc;
}
.file-download-box-item:last-child {
  margin-left: auto;
  padding: 0 10px 0 0;
}
.file-download-title {
  font-weight: bold;
  font-size: 1.6rem;
  color: #545454
}
.file-download-name {
  color: #a7a7a7;
  margin-top: 5px;
}
.file-download-btn,
.file-download-btn:focus,
.file-download-btn:active {
  outline: none;
}
.file-download-box .file-download-btn {
  color: #545454;
  background-color: transparent;
  padding: 0;
  margin: 0 20px;
  display: inline-flex;
  align-items: center;
}
.file-download-box .btn-set {
  display: flex;
  align-items: center;
}
.file-download-box .file-download-btn:hover,
.file-download-btn .icon:hover {
  color: #b31919;
}
.file-download-btn .icon {
  font-size: 1.8rem;
  top: auto;
}
.file-download-btn svg {
  width: 18px;
}
.file-download-btn svg path {
  fill: #545454;
}
.file-download-btn:hover svg path {
  fill: #b31919;
}
.file-download-btn-title {
  margin: 0 0 0 8px;
  font-weight: bold;
  font-size: 1.4rem;
}
.file-download-box-min {
  padding: 8px 20px 8px 10px;
  font-size: 12px;
  background-color: #eee;
  border: 1px solid #ccc;
  margin-bottom: 4px;
  cursor: pointer;
  color: #8a8a8a;
  line-height: 1;
}
.file-download-box-min:hover {
  background-color: #dadada;
  color: #222
}
.file-download-box-min .glyphicon {
  margin-right: 10px;
  vertical-align: middle;
}
.file-download-box-min b{
  vertical-align: middle;
}

.download-player-holder {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #222;
  z-index: 10000;
  box-shadow: 0 -5px 5px rgba(0,0,0,0.4);
  font-family: "Roboto Condensed", "Arial Narrow", Arial, sans-serif;
  color: #e3e3e3;
}

.download-player-holder .body {
  display: flex;
  justify-content: center;
  max-width: 1160px;
  margin: 0 auto;
  padding: 32px 0;
}
.download-player-holder .aside{
  flex-basis: 50%;
}
.download-player-holder .file-download-box-message {
  margin: 0 200px 0 10px;
}
.download-player-holder .title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1;
}
.download-player-holder p {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 18px 0;
  line-height: 1.3;
}
.download-player-holder a {
  color: #cc0000;
  text-decoration: none;
  font-weight: bold;
}
.download-player-holder .btn {
  display: block;
  background-color: #b31919;
  color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1;
  text-transform: uppercase;
  padding: 12px 5px 10px;
}

.download-player-holder .jwplayer {
  margin: 0 auto;
}
.bageToolTip a:hover {
  color: #000;
  text-shadow: none;
}
.bageToolTip {
  position: absolute;
  left: 0;
  top: 0;
  width: 375px;
  background: #eee;
  box-shadow: 3px 3px 3px rgba(00, 00, 00, 0.5);
  padding: 10px;
  z-index: 1000;
  color: #444;
  display: none;
  font: normal 1.2rem "Arial Narrow", Arial, sans-serif;
  margin: 11px 0 0 0;
  border: 2px solid #fff;
}
.bageToolTip a {
  color: #444;
}
.bageToolTip a:hover {
  color: #444;
}
.bageToolTip .utilit-button {
  margin-left: 0;
}
.userProfileTooltip {
  height: 155px;
}
.gameProfileTooltip {
  height: 170px;
}
.userProfileTooltip .avatarHolder {
  margin: 0 15px 12px 0;
  width: 104px;
  text-align: center;
}
.userProfileTooltip .profileLink {
  vertical-align: top;
  display: inline-block;
  margin: 1px 0 0 0;
}
.userProfileTooltip .profileLink:hover span {
  border-bottom: 1px solid #fff;
}
.userProfileTooltip .column {
  display: inline-block;
  vertical-align: top;
}
.userProfileTooltip .buttons {
  bottom: 10px;
  left: 130px;
  position: absolute;
}
.userProfileTooltip ul {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}
.userProfileTooltip .uiButton {
  margin: 0 5px 0 0;
  width: 175px;
  padding: 5px 0;
}
.userProfileTooltip .uiButton.sendMessage {
  width: 195px;
}
.userProfileTooltip .avatar100 {
  padding: 2px;
  background: #fff;
  width: 100px;
  height: 100px;
}
.userProfileTooltip .awards img {
  vertical-align: middle;
  margin-right: 3px;
}
.userProfileTooltip .online {
  color: #04E526;
}
.tooltip .heading {
  margin: 0 12px 0 0;
  font-size: 1.4rem;
  font-weight: bold;
}
.post-summary {
  position: relative;
  z-index: 1;
  font: normal 1.4rem/1.5 Arial, Helvetica, sans-serif;
}
.post-summary a {
   text-decoration: underline;
 }

.post-game-flow-container .special-post.post {
  background-color: #222;
  color: #ccc;
}
.post-game-flow-container .special-post.post a {
  color: #fff
}
.special-post.post .post-summary a:hover {
  color: #c00;
  text-decoration: underline;
}
.special-post.post .post-title a:hover {
  color: #c00;
}
.special-post.post .post-signature {
  max-width: none;
  justify-content: normal;
}
.special-post.post .post-signature .avatar {
  margin-right: 10px;
}
.download-message {
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 20px auto;
  font-family: "Roboto Condensed", "Arial Narrow", Arial, sans-serif;
}
.download-message-title {
  font: bold 2rem/1 "Roboto Condensed", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10px;
}
.download-message-title a {
  color: #fff;
}
.download-message-text a {
  text-decoration: underline;
  color: #fff;
}
.download-message-image {
  margin-right: 20px;
  flex-shrink: 0;
}
.download-message-image img {
  border-radius: 10px
}
#pgContentRoll {
  position: relative;
}
#pgContentRoll video,
#pgContentRoll img {
  cursor: pointer;
}
.pgContentRollSound {
  width: 50px;
  height: 50px;
  color: #fff;
  position: absolute;
  bottom: 18px;
  right: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Glyphicons Halflings";
  font-size: 2.6rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.pgContentRollClose {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.25);
  color: #fff;
  font-family: "Glyphicons Halflings";
  font-size: 1.6rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.pgContentRollSound:before {
  content: "\e036";
}
.pgContentRollClose:before {
  content: "\e014";
}
.pgContentRollSound.active:before {
  content: "\e038";
}
.jwplayer.jw-flag-audio-player .jw-media {
  visibility: visible !important;
}
  /**********************RELATED module*******************************/
.related-post-list {
  max-width: 800px;
  background-color: #f3f3f3;
  padding: 20px;
  margin: 20px 0;
}
.related-post-list .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: bold;
}
.related-post-list .wrapper {
  display: flex;
  margin: 0 -5px;
}
.related-post-list .item {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.2;
  flex-basis: 100%;
  margin: 20px 5px 10px;
  display: block;
  max-width: 33.333%;
}
.related-post-list .item .title {
  margin: 10px 10px 0 0 ;
}
.related-post-list .item  img {
  height: auto;
}
.related-post-list .gp-game-follow {
  background-color: #d5d5d5;
  border: 1px solid rgb(199, 199, 199);
}
.related-post-list .gp-game-follow:hover {
  border: 1px solid #c5c5c5;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.related-post-list .gp-game-follow .badge {
  color: #444
}
.related-post-list .gp-game-follow .text {
  display: inline-block;
  line-height: 1;
  margin: 0 0 0 5px;
  padding-right: 5px;
  border-right: 1px solid #777;
}
.related-post-list .gp-game-follow.active .badge {
  color: #777;
}
.share-title {
  font-size: 1.4rem;
  margin: 0 5px 0 -50px;
}

.wiki-page-nav {
  max-width: 300px;
  max-height: 640px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  overflow: auto;
  margin: 40px auto;
}
.wiki-page-nav .content-block-heading {
  color: #444;
  text-transform: uppercase;
  margin: 0 0 10px 10px;
}
.wiki-page-nav .nav>li>a {
  font-size: 1.4rem;
  line-height: 1.3;
  display: block;
  color: #222;
  padding: 6px 10px;
}
.wiki-page-nav .nav>li>a:hover {
  color: #b31919;
  background-color: transparent;
}

.wiki-page-nav .nav>.active>a,
.wiki-page-nav .nav>.active>a:hover,
.wiki-page-nav .nav>li>a:focus {
  color: #fff;
  background-color: #b31919;
  outline: none;
  border-radius: 4px;
}


.promoted-content {
  margin: 30px -30px 0;
  padding: 30px;
  background-color: #eee;
}
.promoted-bonus-component {
  padding: 0 30px 30px;
  margin: 0 -30px;
  background-color: #eee;
}
.register-suggest {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.register-suggest a {
  color: #b31919;
}
.register-suggest .btn{
  background-color: #b31919;
  color: #fff;
  margin-top: 10px;
}
.post-blank {
  background-image: url("../img/post-blank.jpg");
  height: 673px;
  background-repeat: no-repeat;
  position: relative;
  background-position: 0 0;
}
.post-blank .title {
  background-color: #fff;
  position: absolute;
  display: inline-flex;
  align-items: center;
  font-size: 1.8rem;
  top: 50%;
  left: 50%;
  width: 410px;
  height: 64px;
  margin: -64px 0 0 -205px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.post-reject-label .h3 {
  margin: 0 0 20px 0;
}
@media (min-width: 1200px) {
  #pgContentRoll {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 225px;
    z-index: 999999999;
    box-shadow: 0 0 20px rgba(0,0,0,0.35);
  }
  #pgContentRoll:empty{
    display: none;
  }
}
@media (max-width: 1250px) {
  .post-rating-wrapper {
    position: static;
    margin-left: auto;
  }
  .post-rating-wrapper .post-rating {
    flex-direction: row;
    box-shadow: none;
  }
  .post-rating .value {
    width: auto;
  }

  .post-control-button.btn,
  .ya-share2,
  .post-rating {
    margin: 0 5px
  }
  .ya-share2__link_more .ya-share2__icon {
    height: 24px !important;
    width: 24px !important;
    background-size: 14px 14px !important;
  }
  .post-rating-wrapper .buttons {
    flex-direction: row;
    position: static;
    justify-content: center;
  }
}
@media (max-width: 960px) {
  .promoted-content {
    width: 100%;
    padding: 30px 0;
    margin: 30px 0 0;
  }
  .promoted-bonus-component {
    width: 100%;
    padding: 0 0 30px;
    margin: 0;
  }
  .user-profile-sidebar {
    overflow: hidden;
  }
  .related-post-list  {
    padding: 20px 15px;
    background-color: transparent;
    border-top: 1px solid #eee;
    margin: 0;
  }
  .related-post-list .header {
    flex-direction: column;
  }
  .related-post-list .header .btn {
    margin: 10px 0;
  }
  .wiki-page-nav {
    position: sticky;
    top: 100px;
    padding: 0;
    margin: 0;
    max-width: none;
    max-height: none;
    z-index: 3;
    overflow: visible;
    border-radius: 0;
    border: none;
  }
  .wiki-page-nav.static {
    position: static;
  }
  .wiki-page-nav.active {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    background-color: #fcfcfc;
    padding: 30px 20px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    bottom: 0;
    overflow: auto;
  }
  .wiki-page-nav .content-block-heading {
    position: absolute;
    text-indent: -9999px;
    top: 0;
    right: -20px;
    width: 24px;
    height: 24px;
    text-transform: capitalize;
    background-color: #f5f5f5;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    margin: 0;
    padding: 2px 4px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23222' width='20' height='20' class='svg-icon' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='3' y='17' width='18' height='2' rx='1' ry='1'%3e%3c/rect%3e%3crect x='3' y='11' width='18' height='2' rx='1' ry='1'%3e%3c/rect%3e%3crect x='3' y='5' width='18' height='2' rx='1' ry='1'%3e%3c/rect%3e%3c/svg%3e");
  }

  .wiki-page-nav.static .content-block-heading {
    position: static;
    padding: 8px 0;
    margin: 14px 0 10px 0;
    text-align: center;
    text-indent: 0;
    width: auto;
    height: auto;
    font-size: 1.4rem;
    background-position: 10px center;
    filter: none;
  }
  .wiki-page-nav.active .content-block-heading {
    position: static;
    text-indent: unset;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    background-color: transparent;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    filter: none;
    color: #444;
    padding: 0;
    text-align: center;
    background-position: 99% center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='100%25' fill='%23555555' height='100%25' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 490 490'%3e%3cpolygon points='456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 '%3e%3c/polygon%3e%3c/svg%3e");
  }
  .wiki-page-nav nav {
    width: 100%;
    display: none;
    margin: 0;
  }
  .wiki-page-nav.active nav {
    display: block;
  }
  .wiki-page-nav .nav {
    margin: 0;
  }
  .wiki-page-nav .nav>li {
    margin: 18px 0;
  }
  .wiki-page-nav .nav>li>a {
    font-size: 1.4rem;
    padding: 0;
    font-weight: bold;
    font-family: "Roboto Condensed", "Arial Narrow", Arial, sans-serif;
  }
  .wiki-page-nav .nav>.active>a, .wiki-page-nav .nav>.active>a:hover, .wiki-page-nav .nav>li>a:focus {
    background-color: transparent;
    color: #b31919
  }
  .post-rating-area {
    justify-content: center;
  }
  .related-post-list .wrapper {
    margin: 0;
    flex-direction: column;
  }
  .related-post-list .item {
    display: flex;
    margin: 20px 0 0;
    max-width: none;
  }
  .related-post-list .item .title {
    margin: 10px 0 0 10px;
    flex-basis: 78%;
  }

  .file-download-box-item:first-child {
    margin-right: 0;
  }
  .file-download-box {
    flex-direction: column;
  }
  .file-download-box-item {
    padding-left: 20px;
    padding-right: 20px;
  }
  .file-download-box-item:last-child {
    text-align: center;
    display: block;
    margin: 10px auto ;
  }
  .promoted-content.post-flow-container .post {
    flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .post-flow-container .post-content {
    flex-basis: 78%;
    height: auto;
  }
  .post-flow-container .post-title {
    margin-bottom: 0;
    max-width: none;
  }
  .post-flow-container .post.ad-post {
    display: block;
  }

  .promoted-content.post-flow-container .post {
    flex-basis: 100%;
  }
  .article-content {
    font-family: Roboto, sans-serif;
    position: relative;
  }
  .article-content blockquote:before {
    left: 10px;
    top: 45px;
  }
  .article-content blockquote:after {
    right: 10px;
    bottom: -16px;
  }
  .article-content blockquote {
    padding: 30px;
  }
  .post-full .post-heading {
    overflow: hidden;
  }
  .post-signature {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .post-signature-info {
    min-width: auto;
  }
  pg-embed[type="steam"] iframe,
  pg-embed[type="coub"] iframe {
    min-width: auto;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .article-content pg-embed[type="playground"],
  .article-content pg-embed[type="youtube"],
  .article-content pg-embed[type="twitch_video"],
  .article-content pg-embed[type="twitch_channel"] {
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 60.65%;
  }
  .article-header .copyright, .post-copyright {
    top: -.8rem;
    font-size: 1.6rem;
  }
  .related-post-list .item figure {
    flex-basis: 150px;
    flex-shrink: 0;
  }
  .related-post-list .item img {
    border-radius: 10px;
    width: 130px;
    max-width: none;
    height: 130px;
  }
  .post-summary {
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 10px;
  }
  .file-download-box-header,
  .file-download-box-footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .file-download-box-header .aside {
    margin: 5px 0 0 0;
    text-align: left;
    padding: 0;
  }
  .file-download-box .btn-set {
    flex-direction: column;
    align-items: flex-start;
  }
  .file-download-box .file-download-btn {
    margin: 0 0 10px 0;
    display: flex;
  }
  .file-download-title {
    margin: 0 0 5px 0;
  }
  .file-download-await-timer {
    display: block;
  }
  .download-player-holder .body {
    flex-direction: column;
    padding: 12px;
  }
  .download-player-holder .file-download-box-message {
    margin: 10px 0;
  }
  .download-player-holder .jwplayer {
    max-width: 200px;
    height: 124px !important;
  }
  .download-player-holder .btn {
    font-size: 1.2rem;
  }
  .download-player-holder .title,
  .download-player-holder p {
    font-size: 1.4rem;
  }
  .download-player-holder p {
    margin: 12px 0;
  }
  .post-signature-container {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .pg-gallery {
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: normal;
  }
  .pg-gallery .pg-gallery-item {
    flex-shrink: 0;
    flex-basis: auto;
    display: block !important;
  }
  .pg-gallery .pg-gallery-item a::before,
  .pg-gallery-item-more div {
    display: none;
  }
  .article-content-prefooter .post-categories {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
  }
  pg-file:first-of-type {
    height: 230px;
    display: block;
  }
  #userNotAuthorized pg-file:first-of-type {
    height: 200px;
    display: block;
  }
  .file-download-box .file-download-btn:last-child {
    margin-bottom: 0;
  }
}
